body
{
    font-family: "Verdana", sans-serif;
    background: DeepSkyBlue;
}

input[type="text"]
{
    font-size: 16px;
}

.headerCard
{
    padding: 75px;
    background: rgb(255, 191, 0);
    border-radius: 10px;
    margin: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.bodyCard
{
    float: left;
    padding: 25px;
    background: rgb(255, 191, 0);
    border-radius: 10px;
    margin: 25px;
    height: 292px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.button
{
    background-color: DodgerBlue;
    border: 2px solid White;
    border-radius: 3px;
    color: White;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover
{
    background-color: LightCyan;
    color: Blue;
}

.paragraphSmallMargin
{
    margin: 6px 0px;
}